
div.container {
    height: 400px;
    background-color: white;
    
}
div.titulo {
    font-size: 5vw;
    background-color: aquamarine;
    text-align: center;
    padding: 3vw;
    position: relative;
}
div.box1 {
    background-color: red;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    margin-top: 30px;

}
div.box1 img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.box2 {
    background-color: green;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-top: 30px;
}
div.box2 img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.box3 {
    background-color: yellowgreen;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    vertical-align: top;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 30px;
}

div.box3 img {
    width: 210px;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.box4 {
    background-color: rebeccapurple;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
    margin-left: 60px;
    flex-direction: column;
    justify-content: space-between;
}
    div.box4 img {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.box5 {
    background-color: yellow;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}
    div.box5 img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

div.box6 {
    background-color: orangered;
    width: 250px;
    min-width: 250px;
    display: inline-block;
    vertical-align: top;
}
    div.box6 img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}
h2 {
    text-align: center;
}


